<h2>Центр оценочных квалификаций</h2>
<a class="aqc-help-btn modal-trigger blue-text text-darken-3" href="#help">Что здесь делать?</a>
<div class="row mt2">
  <div class="col s4">
    <a href="/aqc/tests">
    <div class="card">
      <div class="card-content">
        <div class="row">
          <div class="col s12 center">
            <i class="material-icons aqc-category-card-icon blue-text text-darken-3">quiz</i>
          </div>
        </div>

      </div>
      <div class="card-action center">
        <div class="blue-text text-darken-3 aqc-category-card-title">Тесты</div>
      </div>
    </div>
    </a>
  </div>
  <div class="col s4">
    <a href="/aqc/exams">
      <div class="card">
        <div class="card-content">
          <div class="row">
            <div class="col s12 center">
              <i class="material-icons aqc-category-card-icon blue-text text-darken-3">description</i>
            </div>
          </div>

        </div>
        <div class="card-action center">
          <div class="blue-text text-darken-3 aqc-category-card-title">Экзамены</div>
        </div>
      </div>
    </a>
  </div>
  <div class="col s4">
    <a href="/aqc/courses">
      <div class="card">
        <div class="card-content">
          <div class="row">
            <div class="col s12 center">
              <i class="material-icons aqc-category-card-icon blue-text text-darken-3">school</i>
            </div>
          </div>

        </div>
        <div class="card-action center">
          <div class="blue-text text-darken-3 aqc-category-card-title">Курсы</div>
        </div>
      </div>
    </a>
  </div>
</div>

<div id="help" class="modal">
  <div class="modal-content">
    <h4>Что здесь делать?</h4>
    <p>В данном разделе вы можете получить новые квалификации или пройти обучение.</p>
    <p>Для получения квалификации необходимо сдать экзамен. Чтобы получить допуск к экзамену необходимо пройти тест.</p>
    <p>Чтобы подготовиться к тесту или экзамену, вы можете воспользоваться курсами в данном разделе.</p>
  </div>
  <div class="modal-footer">
    <a href="" class="aqc-help-modal-close modal-close blue-text text-darken-3">Закрыть</a>
  </div>
</div>