<h2 class="mb0">Документы</h2>
<div class="row">
  <div class="col s12">
    <div class="section">
      <h4>Первая группа документов</h4>
      <ul class="collapsible">
        <li>
          <div class="collapsible-header"><i class="material-icons">expand_more</i>Первый документ</div>
          <div class="collapsible-body taj">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. At autem deserunt dicta dolor doloribus expedita
              explicabo iste libero minima pariatur, perferendis porro rem reprehenderit saepe vel vitae voluptate?
            </p>
            <p>
              Aperiam aspernatur blanditiis consequuntur error in minima nihil, numquam veniam voluptatem. Accusantium
              earum error
              ex facere, id, ipsa labore maiores maxime nostrum numquam optio, provident quisquam repellat vitae
              voluptate?
            </p>
            <p>
              At atque beatae eos laboriosam maxime praesentium repudiandae sint soluta tempora vero! Ab consequuntur
              dolorum recusandae similique.
            </p>
            <p>
              Accusamus hic in ipsam iste maiores minus, nesciunt quam sit tempora totam ut
              veniam vero voluptas. At est ipsam iste modi nesciunt nostrum praesentium suscipit tenetur totam vitae.
              Aliquid at atque, deleniti deserunt dolor dolores fuga impedit in, inventore laborum nostrum nulla odio
              omnis
              porro, quia suscipit vel vero.
            </p>
            <p>
              Alias commodi consequatur, deleniti dolor esse expedita incidunt magni nemo
              neque nostrum, officia quia repudiandae sed suscipit unde vel veniam voluptate? Aliquid asperiores at
              blanditiis deserunt dolores earum eligendi ex, inventore ipsam iusto magni maiores mollitia natus nemo,
              non
              obcaecati officiis quibusdam quisquam quod quos reiciendis reprehenderit repudiandae temporibus voluptas
              voluptatibus.
            </p>
            <p>
              Accusamus adipisci aliquid amet aspernatur aut autem corporis culpa delectus deleniti dicta
              dignissimos distinctio dolor, earum ex exercitationem illo incidunt ipsam laudantium mollitia nihil nisi
              nostrum omnis provident quibusdam, quos recusandae rem reprehenderit repudiandae rerum sapiente sint
              soluta
              suscipit temporibus unde velit, voluptas voluptates!
            </p>
            <p>
              Nemo, pariatur, totam? Aliquam atque eaque excepturi
              explicabo facere fuga itaque labore, minima mollitia necessitatibus nemo, odit officia omnis pariatur
              porro
              possimus ratione repudiandae soluta suscipit vitae.
            </p>
            <p>
              Facilis fugit laudantium nihil praesentium? Ab animi
              consequuntur dicta error esse, facilis itaque maxime quam ratione sequi tempore ut. Alias blanditiis
              deserunt
              fugiat laboriosam natus odio praesentium sunt tempore velit. Dicta incidunt nam nesciunt nihil, saepe
              soluta
              tempora temporibus veritatis?
            </p>
            <p>
              Adipisci animi est maxime totam. Aliquid autem, cum dolore eaque illum mollitia
              possimus repellendus vel.
            </p>
          </div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">expand_more</i>Второй документ</div>
          <div class="collapsible-body taj">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. At autem deserunt dicta dolor doloribus expedita
              explicabo iste libero minima pariatur, perferendis porro rem reprehenderit saepe vel vitae voluptate?
            </p>
            <p>
              Aperiam aspernatur blanditiis consequuntur error in minima nihil, numquam veniam voluptatem. Accusantium
              earum error
              ex facere, id, ipsa labore maiores maxime nostrum numquam optio, provident quisquam repellat vitae
              voluptate?
            </p>
            <p>
              At atque beatae eos laboriosam maxime praesentium repudiandae sint soluta tempora vero! Ab consequuntur
              dolorum recusandae similique.
            </p>
            <p>
              Accusamus hic in ipsam iste maiores minus, nesciunt quam sit tempora totam ut
              veniam vero voluptas. At est ipsam iste modi nesciunt nostrum praesentium suscipit tenetur totam vitae.
              Aliquid at atque, deleniti deserunt dolor dolores fuga impedit in, inventore laborum nostrum nulla odio
              omnis
              porro, quia suscipit vel vero.
            </p>
            <p>
              Alias commodi consequatur, deleniti dolor esse expedita incidunt magni nemo
              neque nostrum, officia quia repudiandae sed suscipit unde vel veniam voluptate? Aliquid asperiores at
              blanditiis deserunt dolores earum eligendi ex, inventore ipsam iusto magni maiores mollitia natus nemo,
              non
              obcaecati officiis quibusdam quisquam quod quos reiciendis reprehenderit repudiandae temporibus voluptas
              voluptatibus.
            </p>
            <p>
              Accusamus adipisci aliquid amet aspernatur aut autem corporis culpa delectus deleniti dicta
              dignissimos distinctio dolor, earum ex exercitationem illo incidunt ipsam laudantium mollitia nihil nisi
              nostrum omnis provident quibusdam, quos recusandae rem reprehenderit repudiandae rerum sapiente sint
              soluta
              suscipit temporibus unde velit, voluptas voluptates!
            </p>
            <p>
              Nemo, pariatur, totam? Aliquam atque eaque excepturi
              explicabo facere fuga itaque labore, minima mollitia necessitatibus nemo, odit officia omnis pariatur
              porro
              possimus ratione repudiandae soluta suscipit vitae.
            </p>
            <p>
              Facilis fugit laudantium nihil praesentium? Ab animi
              consequuntur dicta error esse, facilis itaque maxime quam ratione sequi tempore ut. Alias blanditiis
              deserunt
              fugiat laboriosam natus odio praesentium sunt tempore velit. Dicta incidunt nam nesciunt nihil, saepe
              soluta
              tempora temporibus veritatis?
            </p>
            <p>
              Adipisci animi est maxime totam. Aliquid autem, cum dolore eaque illum mollitia
              possimus repellendus vel.
            </p>
          </div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">expand_more</i>Третий документ</div>
          <div class="collapsible-body taj">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. At autem deserunt dicta dolor doloribus expedita
              explicabo iste libero minima pariatur, perferendis porro rem reprehenderit saepe vel vitae voluptate?
            </p>
            <p>
              Aperiam aspernatur blanditiis consequuntur error in minima nihil, numquam veniam voluptatem. Accusantium
              earum error
              ex facere, id, ipsa labore maiores maxime nostrum numquam optio, provident quisquam repellat vitae
              voluptate?
            </p>
            <p>
              At atque beatae eos laboriosam maxime praesentium repudiandae sint soluta tempora vero! Ab consequuntur
              dolorum recusandae similique.
            </p>
            <p>
              Accusamus hic in ipsam iste maiores minus, nesciunt quam sit tempora totam ut
              veniam vero voluptas. At est ipsam iste modi nesciunt nostrum praesentium suscipit tenetur totam vitae.
              Aliquid at atque, deleniti deserunt dolor dolores fuga impedit in, inventore laborum nostrum nulla odio
              omnis
              porro, quia suscipit vel vero.
            </p>
            <p>
              Alias commodi consequatur, deleniti dolor esse expedita incidunt magni nemo
              neque nostrum, officia quia repudiandae sed suscipit unde vel veniam voluptate? Aliquid asperiores at
              blanditiis deserunt dolores earum eligendi ex, inventore ipsam iusto magni maiores mollitia natus nemo,
              non
              obcaecati officiis quibusdam quisquam quod quos reiciendis reprehenderit repudiandae temporibus voluptas
              voluptatibus.
            </p>
            <p>
              Accusamus adipisci aliquid amet aspernatur aut autem corporis culpa delectus deleniti dicta
              dignissimos distinctio dolor, earum ex exercitationem illo incidunt ipsam laudantium mollitia nihil nisi
              nostrum omnis provident quibusdam, quos recusandae rem reprehenderit repudiandae rerum sapiente sint
              soluta
              suscipit temporibus unde velit, voluptas voluptates!
            </p>
            <p>
              Nemo, pariatur, totam? Aliquam atque eaque excepturi
              explicabo facere fuga itaque labore, minima mollitia necessitatibus nemo, odit officia omnis pariatur
              porro
              possimus ratione repudiandae soluta suscipit vitae.
            </p>
            <p>
              Facilis fugit laudantium nihil praesentium? Ab animi
              consequuntur dicta error esse, facilis itaque maxime quam ratione sequi tempore ut. Alias blanditiis
              deserunt
              fugiat laboriosam natus odio praesentium sunt tempore velit. Dicta incidunt nam nesciunt nihil, saepe
              soluta
              tempora temporibus veritatis?
            </p>
            <p>
              Adipisci animi est maxime totam. Aliquid autem, cum dolore eaque illum mollitia
              possimus repellendus vel.
            </p>
          </div>
        </li>
      </ul>
    </div>
    <div class="section">
      <h4>Вторая группа документов</h4>
      <ul class="collapsible">
        <li>
          <div class="collapsible-header"><i class="material-icons">expand_more</i>Первый документ</div>
          <div class="collapsible-body taj">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. At autem deserunt dicta dolor doloribus expedita
              explicabo iste libero minima pariatur, perferendis porro rem reprehenderit saepe vel vitae voluptate?
            </p>
            <p>
              Aperiam aspernatur blanditiis consequuntur error in minima nihil, numquam veniam voluptatem. Accusantium
              earum error
              ex facere, id, ipsa labore maiores maxime nostrum numquam optio, provident quisquam repellat vitae
              voluptate?
            </p>
            <p>
              At atque beatae eos laboriosam maxime praesentium repudiandae sint soluta tempora vero! Ab consequuntur
              dolorum recusandae similique.
            </p>
            <p>
              Accusamus hic in ipsam iste maiores minus, nesciunt quam sit tempora totam ut
              veniam vero voluptas. At est ipsam iste modi nesciunt nostrum praesentium suscipit tenetur totam vitae.
              Aliquid at atque, deleniti deserunt dolor dolores fuga impedit in, inventore laborum nostrum nulla odio
              omnis
              porro, quia suscipit vel vero.
            </p>
            <p>
              Alias commodi consequatur, deleniti dolor esse expedita incidunt magni nemo
              neque nostrum, officia quia repudiandae sed suscipit unde vel veniam voluptate? Aliquid asperiores at
              blanditiis deserunt dolores earum eligendi ex, inventore ipsam iusto magni maiores mollitia natus nemo,
              non
              obcaecati officiis quibusdam quisquam quod quos reiciendis reprehenderit repudiandae temporibus voluptas
              voluptatibus.
            </p>
            <p>
              Accusamus adipisci aliquid amet aspernatur aut autem corporis culpa delectus deleniti dicta
              dignissimos distinctio dolor, earum ex exercitationem illo incidunt ipsam laudantium mollitia nihil nisi
              nostrum omnis provident quibusdam, quos recusandae rem reprehenderit repudiandae rerum sapiente sint
              soluta
              suscipit temporibus unde velit, voluptas voluptates!
            </p>
            <p>
              Nemo, pariatur, totam? Aliquam atque eaque excepturi
              explicabo facere fuga itaque labore, minima mollitia necessitatibus nemo, odit officia omnis pariatur
              porro
              possimus ratione repudiandae soluta suscipit vitae.
            </p>
            <p>
              Facilis fugit laudantium nihil praesentium? Ab animi
              consequuntur dicta error esse, facilis itaque maxime quam ratione sequi tempore ut. Alias blanditiis
              deserunt
              fugiat laboriosam natus odio praesentium sunt tempore velit. Dicta incidunt nam nesciunt nihil, saepe
              soluta
              tempora temporibus veritatis?
            </p>
            <p>
              Adipisci animi est maxime totam. Aliquid autem, cum dolore eaque illum mollitia
              possimus repellendus vel.
            </p>
          </div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">expand_more</i>Второй документ</div>
          <div class="collapsible-body taj">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. At autem deserunt dicta dolor doloribus expedita
              explicabo iste libero minima pariatur, perferendis porro rem reprehenderit saepe vel vitae voluptate?
            </p>
            <p>
              Aperiam aspernatur blanditiis consequuntur error in minima nihil, numquam veniam voluptatem. Accusantium
              earum error
              ex facere, id, ipsa labore maiores maxime nostrum numquam optio, provident quisquam repellat vitae
              voluptate?
            </p>
            <p>
              At atque beatae eos laboriosam maxime praesentium repudiandae sint soluta tempora vero! Ab consequuntur
              dolorum recusandae similique.
            </p>
            <p>
              Accusamus hic in ipsam iste maiores minus, nesciunt quam sit tempora totam ut
              veniam vero voluptas. At est ipsam iste modi nesciunt nostrum praesentium suscipit tenetur totam vitae.
              Aliquid at atque, deleniti deserunt dolor dolores fuga impedit in, inventore laborum nostrum nulla odio
              omnis
              porro, quia suscipit vel vero.
            </p>
            <p>
              Alias commodi consequatur, deleniti dolor esse expedita incidunt magni nemo
              neque nostrum, officia quia repudiandae sed suscipit unde vel veniam voluptate? Aliquid asperiores at
              blanditiis deserunt dolores earum eligendi ex, inventore ipsam iusto magni maiores mollitia natus nemo,
              non
              obcaecati officiis quibusdam quisquam quod quos reiciendis reprehenderit repudiandae temporibus voluptas
              voluptatibus.
            </p>
            <p>
              Accusamus adipisci aliquid amet aspernatur aut autem corporis culpa delectus deleniti dicta
              dignissimos distinctio dolor, earum ex exercitationem illo incidunt ipsam laudantium mollitia nihil nisi
              nostrum omnis provident quibusdam, quos recusandae rem reprehenderit repudiandae rerum sapiente sint
              soluta
              suscipit temporibus unde velit, voluptas voluptates!
            </p>
            <p>
              Nemo, pariatur, totam? Aliquam atque eaque excepturi
              explicabo facere fuga itaque labore, minima mollitia necessitatibus nemo, odit officia omnis pariatur
              porro
              possimus ratione repudiandae soluta suscipit vitae.
            </p>
            <p>
              Facilis fugit laudantium nihil praesentium? Ab animi
              consequuntur dicta error esse, facilis itaque maxime quam ratione sequi tempore ut. Alias blanditiis
              deserunt
              fugiat laboriosam natus odio praesentium sunt tempore velit. Dicta incidunt nam nesciunt nihil, saepe
              soluta
              tempora temporibus veritatis?
            </p>
            <p>
              Adipisci animi est maxime totam. Aliquid autem, cum dolore eaque illum mollitia
              possimus repellendus vel.
            </p>
          </div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">expand_more</i>Третий документ</div>
          <div class="collapsible-body taj">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. At autem deserunt dicta dolor doloribus expedita
              explicabo iste libero minima pariatur, perferendis porro rem reprehenderit saepe vel vitae voluptate?
            </p>
            <p>
              Aperiam aspernatur blanditiis consequuntur error in minima nihil, numquam veniam voluptatem. Accusantium
              earum error
              ex facere, id, ipsa labore maiores maxime nostrum numquam optio, provident quisquam repellat vitae
              voluptate?
            </p>
            <p>
              At atque beatae eos laboriosam maxime praesentium repudiandae sint soluta tempora vero! Ab consequuntur
              dolorum recusandae similique.
            </p>
            <p>
              Accusamus hic in ipsam iste maiores minus, nesciunt quam sit tempora totam ut
              veniam vero voluptas. At est ipsam iste modi nesciunt nostrum praesentium suscipit tenetur totam vitae.
              Aliquid at atque, deleniti deserunt dolor dolores fuga impedit in, inventore laborum nostrum nulla odio
              omnis
              porro, quia suscipit vel vero.
            </p>
            <p>
              Alias commodi consequatur, deleniti dolor esse expedita incidunt magni nemo
              neque nostrum, officia quia repudiandae sed suscipit unde vel veniam voluptate? Aliquid asperiores at
              blanditiis deserunt dolores earum eligendi ex, inventore ipsam iusto magni maiores mollitia natus nemo,
              non
              obcaecati officiis quibusdam quisquam quod quos reiciendis reprehenderit repudiandae temporibus voluptas
              voluptatibus.
            </p>
            <p>
              Accusamus adipisci aliquid amet aspernatur aut autem corporis culpa delectus deleniti dicta
              dignissimos distinctio dolor, earum ex exercitationem illo incidunt ipsam laudantium mollitia nihil nisi
              nostrum omnis provident quibusdam, quos recusandae rem reprehenderit repudiandae rerum sapiente sint
              soluta
              suscipit temporibus unde velit, voluptas voluptates!
            </p>
            <p>
              Nemo, pariatur, totam? Aliquam atque eaque excepturi
              explicabo facere fuga itaque labore, minima mollitia necessitatibus nemo, odit officia omnis pariatur
              porro
              possimus ratione repudiandae soluta suscipit vitae.
            </p>
            <p>
              Facilis fugit laudantium nihil praesentium? Ab animi
              consequuntur dicta error esse, facilis itaque maxime quam ratione sequi tempore ut. Alias blanditiis
              deserunt
              fugiat laboriosam natus odio praesentium sunt tempore velit. Dicta incidunt nam nesciunt nihil, saepe
              soluta
              tempora temporibus veritatis?
            </p>
            <p>
              Adipisci animi est maxime totam. Aliquid autem, cum dolore eaque illum mollitia
              possimus repellendus vel.
            </p>
          </div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">expand_more</i>Четвертый документ</div>
          <div class="collapsible-body taj">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. At autem deserunt dicta dolor doloribus expedita
              explicabo iste libero minima pariatur, perferendis porro rem reprehenderit saepe vel vitae voluptate?
            </p>
            <p>
              Aperiam aspernatur blanditiis consequuntur error in minima nihil, numquam veniam voluptatem. Accusantium
              earum error
              ex facere, id, ipsa labore maiores maxime nostrum numquam optio, provident quisquam repellat vitae
              voluptate?
            </p>
            <p>
              At atque beatae eos laboriosam maxime praesentium repudiandae sint soluta tempora vero! Ab consequuntur
              dolorum recusandae similique.
            </p>
            <p>
              Accusamus hic in ipsam iste maiores minus, nesciunt quam sit tempora totam ut
              veniam vero voluptas. At est ipsam iste modi nesciunt nostrum praesentium suscipit tenetur totam vitae.
              Aliquid at atque, deleniti deserunt dolor dolores fuga impedit in, inventore laborum nostrum nulla odio
              omnis
              porro, quia suscipit vel vero.
            </p>
            <p>
              Alias commodi consequatur, deleniti dolor esse expedita incidunt magni nemo
              neque nostrum, officia quia repudiandae sed suscipit unde vel veniam voluptate? Aliquid asperiores at
              blanditiis deserunt dolores earum eligendi ex, inventore ipsam iusto magni maiores mollitia natus nemo,
              non
              obcaecati officiis quibusdam quisquam quod quos reiciendis reprehenderit repudiandae temporibus voluptas
              voluptatibus.
            </p>
            <p>
              Accusamus adipisci aliquid amet aspernatur aut autem corporis culpa delectus deleniti dicta
              dignissimos distinctio dolor, earum ex exercitationem illo incidunt ipsam laudantium mollitia nihil nisi
              nostrum omnis provident quibusdam, quos recusandae rem reprehenderit repudiandae rerum sapiente sint
              soluta
              suscipit temporibus unde velit, voluptas voluptates!
            </p>
            <p>
              Nemo, pariatur, totam? Aliquam atque eaque excepturi
              explicabo facere fuga itaque labore, minima mollitia necessitatibus nemo, odit officia omnis pariatur
              porro
              possimus ratione repudiandae soluta suscipit vitae.
            </p>
            <p>
              Facilis fugit laudantium nihil praesentium? Ab animi
              consequuntur dicta error esse, facilis itaque maxime quam ratione sequi tempore ut. Alias blanditiis
              deserunt
              fugiat laboriosam natus odio praesentium sunt tempore velit. Dicta incidunt nam nesciunt nihil, saepe
              soluta
              tempora temporibus veritatis?
            </p>
            <p>
              Adipisci animi est maxime totam. Aliquid autem, cum dolore eaque illum mollitia
              possimus repellendus vel.
            </p>
          </div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">expand_more</i>Пятый документ</div>
          <div class="collapsible-body taj">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. At autem deserunt dicta dolor doloribus expedita
              explicabo iste libero minima pariatur, perferendis porro rem reprehenderit saepe vel vitae voluptate?
            </p>
            <p>
              Aperiam aspernatur blanditiis consequuntur error in minima nihil, numquam veniam voluptatem. Accusantium
              earum error
              ex facere, id, ipsa labore maiores maxime nostrum numquam optio, provident quisquam repellat vitae
              voluptate?
            </p>
            <p>
              At atque beatae eos laboriosam maxime praesentium repudiandae sint soluta tempora vero! Ab consequuntur
              dolorum recusandae similique.
            </p>
            <p>
              Accusamus hic in ipsam iste maiores minus, nesciunt quam sit tempora totam ut
              veniam vero voluptas. At est ipsam iste modi nesciunt nostrum praesentium suscipit tenetur totam vitae.
              Aliquid at atque, deleniti deserunt dolor dolores fuga impedit in, inventore laborum nostrum nulla odio
              omnis
              porro, quia suscipit vel vero.
            </p>
            <p>
              Alias commodi consequatur, deleniti dolor esse expedita incidunt magni nemo
              neque nostrum, officia quia repudiandae sed suscipit unde vel veniam voluptate? Aliquid asperiores at
              blanditiis deserunt dolores earum eligendi ex, inventore ipsam iusto magni maiores mollitia natus nemo,
              non
              obcaecati officiis quibusdam quisquam quod quos reiciendis reprehenderit repudiandae temporibus voluptas
              voluptatibus.
            </p>
            <p>
              Accusamus adipisci aliquid amet aspernatur aut autem corporis culpa delectus deleniti dicta
              dignissimos distinctio dolor, earum ex exercitationem illo incidunt ipsam laudantium mollitia nihil nisi
              nostrum omnis provident quibusdam, quos recusandae rem reprehenderit repudiandae rerum sapiente sint
              soluta
              suscipit temporibus unde velit, voluptas voluptates!
            </p>
            <p>
              Nemo, pariatur, totam? Aliquam atque eaque excepturi
              explicabo facere fuga itaque labore, minima mollitia necessitatibus nemo, odit officia omnis pariatur
              porro
              possimus ratione repudiandae soluta suscipit vitae.
            </p>
            <p>
              Facilis fugit laudantium nihil praesentium? Ab animi
              consequuntur dicta error esse, facilis itaque maxime quam ratione sequi tempore ut. Alias blanditiis
              deserunt
              fugiat laboriosam natus odio praesentium sunt tempore velit. Dicta incidunt nam nesciunt nihil, saepe
              soluta
              tempora temporibus veritatis?
            </p>
            <p>
              Adipisci animi est maxime totam. Aliquid autem, cum dolore eaque illum mollitia
              possimus repellendus vel.
            </p>
          </div>
        </li>
      </ul>
    </div>
    <div class="section">
      <h4>Третья группа документов</h4>
      <ul class="collapsible">
        <li>
          <div class="collapsible-header"><i class="material-icons">expand_more</i>Первый документ</div>
          <div class="collapsible-body taj">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. At autem deserunt dicta dolor doloribus expedita
              explicabo iste libero minima pariatur, perferendis porro rem reprehenderit saepe vel vitae voluptate?
            </p>
            <p>
              Aperiam aspernatur blanditiis consequuntur error in minima nihil, numquam veniam voluptatem. Accusantium
              earum error
              ex facere, id, ipsa labore maiores maxime nostrum numquam optio, provident quisquam repellat vitae
              voluptate?
            </p>
            <p>
              At atque beatae eos laboriosam maxime praesentium repudiandae sint soluta tempora vero! Ab consequuntur
              dolorum recusandae similique.
            </p>
            <p>
              Accusamus hic in ipsam iste maiores minus, nesciunt quam sit tempora totam ut
              veniam vero voluptas. At est ipsam iste modi nesciunt nostrum praesentium suscipit tenetur totam vitae.
              Aliquid at atque, deleniti deserunt dolor dolores fuga impedit in, inventore laborum nostrum nulla odio
              omnis
              porro, quia suscipit vel vero.
            </p>
            <p>
              Alias commodi consequatur, deleniti dolor esse expedita incidunt magni nemo
              neque nostrum, officia quia repudiandae sed suscipit unde vel veniam voluptate? Aliquid asperiores at
              blanditiis deserunt dolores earum eligendi ex, inventore ipsam iusto magni maiores mollitia natus nemo,
              non
              obcaecati officiis quibusdam quisquam quod quos reiciendis reprehenderit repudiandae temporibus voluptas
              voluptatibus.
            </p>
            <p>
              Accusamus adipisci aliquid amet aspernatur aut autem corporis culpa delectus deleniti dicta
              dignissimos distinctio dolor, earum ex exercitationem illo incidunt ipsam laudantium mollitia nihil nisi
              nostrum omnis provident quibusdam, quos recusandae rem reprehenderit repudiandae rerum sapiente sint
              soluta
              suscipit temporibus unde velit, voluptas voluptates!
            </p>
            <p>
              Nemo, pariatur, totam? Aliquam atque eaque excepturi
              explicabo facere fuga itaque labore, minima mollitia necessitatibus nemo, odit officia omnis pariatur
              porro
              possimus ratione repudiandae soluta suscipit vitae.
            </p>
            <p>
              Facilis fugit laudantium nihil praesentium? Ab animi
              consequuntur dicta error esse, facilis itaque maxime quam ratione sequi tempore ut. Alias blanditiis
              deserunt
              fugiat laboriosam natus odio praesentium sunt tempore velit. Dicta incidunt nam nesciunt nihil, saepe
              soluta
              tempora temporibus veritatis?
            </p>
            <p>
              Adipisci animi est maxime totam. Aliquid autem, cum dolore eaque illum mollitia
              possimus repellendus vel.
            </p>
          </div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">expand_more</i>Второй документ</div>
          <div class="collapsible-body taj">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. At autem deserunt dicta dolor doloribus expedita
              explicabo iste libero minima pariatur, perferendis porro rem reprehenderit saepe vel vitae voluptate?
            </p>
            <p>
              Aperiam aspernatur blanditiis consequuntur error in minima nihil, numquam veniam voluptatem. Accusantium
              earum error
              ex facere, id, ipsa labore maiores maxime nostrum numquam optio, provident quisquam repellat vitae
              voluptate?
            </p>
            <p>
              At atque beatae eos laboriosam maxime praesentium repudiandae sint soluta tempora vero! Ab consequuntur
              dolorum recusandae similique.
            </p>
            <p>
              Accusamus hic in ipsam iste maiores minus, nesciunt quam sit tempora totam ut
              veniam vero voluptas. At est ipsam iste modi nesciunt nostrum praesentium suscipit tenetur totam vitae.
              Aliquid at atque, deleniti deserunt dolor dolores fuga impedit in, inventore laborum nostrum nulla odio
              omnis
              porro, quia suscipit vel vero.
            </p>
            <p>
              Alias commodi consequatur, deleniti dolor esse expedita incidunt magni nemo
              neque nostrum, officia quia repudiandae sed suscipit unde vel veniam voluptate? Aliquid asperiores at
              blanditiis deserunt dolores earum eligendi ex, inventore ipsam iusto magni maiores mollitia natus nemo,
              non
              obcaecati officiis quibusdam quisquam quod quos reiciendis reprehenderit repudiandae temporibus voluptas
              voluptatibus.
            </p>
            <p>
              Accusamus adipisci aliquid amet aspernatur aut autem corporis culpa delectus deleniti dicta
              dignissimos distinctio dolor, earum ex exercitationem illo incidunt ipsam laudantium mollitia nihil nisi
              nostrum omnis provident quibusdam, quos recusandae rem reprehenderit repudiandae rerum sapiente sint
              soluta
              suscipit temporibus unde velit, voluptas voluptates!
            </p>
            <p>
              Nemo, pariatur, totam? Aliquam atque eaque excepturi
              explicabo facere fuga itaque labore, minima mollitia necessitatibus nemo, odit officia omnis pariatur
              porro
              possimus ratione repudiandae soluta suscipit vitae.
            </p>
            <p>
              Facilis fugit laudantium nihil praesentium? Ab animi
              consequuntur dicta error esse, facilis itaque maxime quam ratione sequi tempore ut. Alias blanditiis
              deserunt
              fugiat laboriosam natus odio praesentium sunt tempore velit. Dicta incidunt nam nesciunt nihil, saepe
              soluta
              tempora temporibus veritatis?
            </p>
            <p>
              Adipisci animi est maxime totam. Aliquid autem, cum dolore eaque illum mollitia
              possimus repellendus vel.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>

</div>

