<h2>Управление сайтом</h2>
<h5>Выберите раздел для управления. Нажмите на вопрос, чтобы раскрыть инструкцию</h5>
<div class="section">
  <p>Описание процесса получения квалификации:</p>
  <p>Чтобы получить квалификацию, пользователь должен пройти экзамен.</p>
  <p>Чтобы получить доступ к экзамену, необходимо сдать тест по данной квалификации.</p>
  <p>Тест считается сданным, если отвечено правильно на 80% вопросов или более.</p>
</div>
<div class="row">
  <div class="col s12">
    <div class="section">
      <div class="card">
        <div class="card-content">
          <h4 class="mt0 mb2">Центр оценочных квалификаций</h4>
          <p>На данный момент нельзя удалять или изменять тесты и экзамены.</p>
          <ul class="collapsible mt2">
            <li>
              <div class="collapsible-header"><i class="material-icons">add</i>Как добавить демонстрационный тест?</div>
              <div class="collapsible-body">
                <p>1. Нажмите на кнопку "Добавить тест"</p>
                <p>2. Заполните все поля</p>
                <p>3. Нажмите "Добавить"</p>
              </div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">add</i>Как добавить демонстрационный экзамен?
              </div>
              <div class="collapsible-body">
                <p>1. Нажмите на кнопку "Добавить экзамен"</p>
                <p>2. Заполните все поля</p>
                <p>3. Нажмите "Добавить"</p>
              </div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">add</i>Как добавить курс?</div>
              <div class="collapsible-body">
                <p>1. Нажмите на кнопку "Добавить курс"</p>
                <p>2. Заполните все поля</p>
                <p>3. Нажмите "Добавить"</p>
              </div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">edit</i>Как изменить курс?</div>
              <div class="collapsible-body">
                <p>1. Нажмите на кнопку "Смотреть курсы"</p>
                <p>2. Выберите нужный курс</p>
                <p>3. Нажмите "Изменить курс" внизу страницы</p>
                <p>4. Внесите изменения</p>
                <p>5. Нажмите "Сохранить"</p>
              </div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">delete</i>Как удалить курс?</div>
              <div class="collapsible-body">
                <p>1. Нажмите на кнопку "Смотреть курсы"</p>
                <p>2. Выберите нужный курс</p>
                <p>3. Нажмите "Изменить курс" внизу страницы</p>
                <p>4. Нажмите "Удалить курс"</p>
              </div>
            </li>
          </ul>
        </div>
        <div class="card-action">
          <div class="row">
            <div class="col s4">
              <a href="/aqc/tests/add" class="waves-effect waves-light btn-large blue darken-3"><i
                class="material-icons left">add</i>Добавить тест</a>
            </div>
            <div class="col s4">
              <a href="/aqc/exams/add" class="waves-effect waves-light btn-large blue darken-3"><i
                class="material-icons left">add</i>Добавить экзамен</a>
            </div>
            <div class="col s4">
              <a href="/aqc/courses/add" class="waves-effect waves-light btn-large blue darken-3"><i
                class="material-icons left">add</i>Добавить курс</a>
            </div>
          </div>
          <div class="row">
            <div class="col s4">
              <a href="/aqc/tests" class="waves-effect waves-light btn-large blue darken-3"><i
                class="material-icons left">quiz</i>Смотреть тесты</a>
            </div>
            <div class="col s4">
              <a href="/aqc/exams" class="waves-effect waves-light btn-large blue darken-3"><i
                class="material-icons left">description</i>Смотреть экзамены</a>
            </div>
            <div class="col s4">
              <a href="/aqc/courses" class="waves-effect waves-light btn-large blue darken-3"><i
                class="material-icons left">school</i>Смотреть курсы</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="card">
        <div class="card-content">
          <h3 class="mt0 mb2">Квалификации</h3>
          <ul class="collapsible">
            <li>
              <div class="collapsible-header"><i class="material-icons">add</i>Как добавить квалификацию?</div>
              <div class="collapsible-body">
                <p>1. Нажмите на кнопку "Добавить квалификацию"</p>
                <p>2. Заполните все поля</p>
                <p>3. Нажмите "Добавить"</p>
              </div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">edit</i>Как изменить квалификацию?</div>
              <div class="collapsible-body">
                <p>1. Нажмите на кнопку "Смотреть квалификации"</p>
                <p>2. Найдите нужную квалификацию</p>
                <p>3. Нажмите "Изменить" рядом с названием квалификации</p>
                <p>4. Внесите изменения</p>
                <p>5. Нажмите "Сохранить"</p>
              </div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">delete</i>Как удалить квалификацию?</div>
              <div class="collapsible-body">
                <p>1. Нажмите на кнопку "Смотреть квалификации"</p>
                <p>2. Найдите нужную квалификацию</p>
                <p>3. Нажмите "Изменить" рядом с названием квалификации</p>
                <p>4. Нажмите "Удалить квалификацию"</p>
              </div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">add</i>Как добавить профессию?</div>
              <div class="collapsible-body">
                <p>1. Нажмите на кнопку "Добавить профессию"</p>
                <p>2. Введите название профессии</p>
                <p>3. Нажмите "Добавить"</p>
              </div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">edit</i>Как изменить профессию?</div>
              <div class="collapsible-body">
                <p>1. Нажмите на кнопку "Смотреть профессии"</p>
                <p>2. Найдите нужную профессию</p>
                <p>3. Нажмите "Изменить" в строке с названием профессии</p>
                <p>4. Внесите изменения</p>
                <p>5. Нажмите "Сохранить"</p>
              </div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">delete</i>Как удалить профессию?</div>
              <div class="collapsible-body">
                <p>1. Нажмите на кнопку "Смотреть профессии"</p>
                <p>2. Найдите нужную профессию</p>
                <p>3. Нажмите "Изменить" в строке с названием профессии</p>
                <p>4. Нажмите "Удалить профессию"</p>
              </div>
            </li>
          </ul>
        </div>
        <div class="card-action">
          <div class="row">
            <div class="col s6">
              <a href="/qualifications/add" class="waves-effect waves-light btn-large blue darken-3"><i
                class="material-icons left">add</i>Добавить квалификацию</a>
            </div>
            <div class="col s6">
              <a href="/qualifications/professions/add" class="waves-effect waves-light btn-large blue darken-3"><i
                class="material-icons left">add</i>Добавить профессию</a>
            </div>

          </div>
          <div class="row">
            <div class="col s6">
              <a href="/qualifications" class="waves-effect waves-light btn-large blue darken-3"><i
                class="material-icons left">article</i>Смотреть квалификации</a>
            </div>
            <div class="col s6">
              <a href="/qualifications/professions" class="waves-effect waves-light btn-large blue darken-3"><i
                class="material-icons left">work</i>Смотреть профессии</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="card">
        <div class="card-content">
          <h3 class="mt0 mb2">Новости</h3>
          <ul class="collapsible">
            <li>
              <div class="collapsible-header"><i class="material-icons">add</i>Как добавить новость?</div>
              <div class="collapsible-body">
                <p>1. Нажмите на кнопку "Добавить новость"</p>
                <p>2. Заполните все поля. URL картинки - ссылка на картинку.</p>
                <p>3. Нажмите "Добавить"</p>
              </div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">edit</i>Как изменить новость?</div>
              <div class="collapsible-body">
                <p>1. Нажмите на кнопку "Смотреть новости"</p>
                <p>2. Найдите нужную новость</p>
                <p>3. Нажмите "Изменить"</p>
                <p>4. Внесите изменения</p>
                <p>5. Нажмите "Сохранить"</p>
              </div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">delete</i>Как удалить новость?</div>
              <div class="collapsible-body">
                <p>1. Нажмите на кнопку "Смотреть новости"</p>
                <p>2. Найдите нужную новость</p>
                <p>3. Нажмите "Изменить"</p>
                <p>4. Нажмите "Удалить новость"</p>
              </div>
            </li>
          </ul>
        </div>
        <div class="card-action">
          <div class="row">
            <div class="col s6">
              <a href="/news/add" class="waves-effect waves-light btn-large blue darken-3"><i
                class="material-icons left">add</i>Добавить
                новость</a>
            </div>
            <div class="col s6">
              <a href="/news" class="waves-effect waves-light btn-large blue darken-3"><i class="material-icons left">article</i>Смотреть
                новости</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
