<h1>Список профессий</h1>

{{#if professions.length}}
  <table class="striped mb2">
    <thead>
    <tr>
      <th>Название</th>
      <th>Действие</th>
    </tr>
    </thead>
    <tbody>
    {{#each professions}}
      <tr>
        <td class="professions-item">{{title}}</td>
        <td class="professions-item">
          <a class="blue-text text-darken-3" href="/qualifications/professions/{{_id}}/edit">Изменить</a>
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>
{{else}}
  <h5>Профессии еще не добавлялись</h5>
{{/if}}